[submodule "public/bootstrap"]
	path = public/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "public/js/libs/hogan.js"]
	path = public/js/libs/hogan.js
	url = git://github.com/twitter/hogan.js.git
[submodule "public/js/libs/backbone.validation"]
	path = public/js/libs/backbone.validation
	url = git://github.com/thedersen/backbone.validation.git
