<p>Whatcha need bro? Some feedback from the contact page?</p>

<p>
    <b>Name:</b><br />
    {{name}}
</p>

<p>
    <b>Email:</b><br />
    {{email}}
</p>

<p>
    <b>Message:</b><br />
    {{message}}
</p>

