head
  meta(charset="utf-8")
  - if(typeof metaDescription !== "undefined")
    meta(name="description", content= metaDescription)
  - if(typeof pageTitle !== "undefined")
    title= pageTitle
  link(rel="stylesheet", href="/css/main.css")
  link(rel="Shortcut Icon", href="/img/favicon.png")
  // Le HTML5 shim, for IE6-8 support of HTML elements
  //if lt IE 9 
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  //script(src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")
  script(data-main="js/main", src="js/libs/require/require.js")

