!!! 5
html(lang='en')
  - if(typeof username !== "undefined")
    script
      window.username = !{JSON.stringify(username)}
  include header
  body
    include nav
    .container-fluid
      #app
      footer
        p &copy; Ruby Rate 2012

