!!! 5
html(lang='en')
  - if(typeof user !== "undefined")
    script
      window.config = {user: !{JSON.stringify(user)}} 
  include header
  body
    .brand Rubyrate 
    include nav
    .container-fluid
      #app
      footer
        p &copy; Ruby Rate 2012

