{{#user}}
  <li class="dropdown" id="user-dropdown">
    <a href="#user-dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">{{name}} profile</a></li>
      <li><a href="#logout">Logout</a></li> 
    </ul>
  </li>
{{/user}}
{{^user}}
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/login">Login</a></li>
{{/user}}
