h2 Sign Up
form(method='post', action='/signup')

  label Username:
  input.span3(name='username', type='text')

  label Email:
  input.span3(name='email', type='text')

  label Password:
  input.span3(name='password', type='password')

  button.btn.btn-primary(type='submit') Sign Up

