.modal-header
  a.close(data-dismiss="modal") x 
  h3 Please Login or Signup first 
  .modal-body
  .tabbable
    ul.nav.nav-tabs
      li.active
        a(href="#", data-toggle="tab", data-target="#login") Login 
      li
        a(href="#", data-toggle="tab", data-target="#new") Signup 
    .tab-content
      .tab-pane.active#login
      .tab-pane#new


